<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="assets/images/tykhe.png" />

    <title>Cage App</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="stylesheet" href="@routes.AppController.versioned("compiled/lobby/cage/main.css")">
    <script type="text/javascript">
            window.REACT_APP_GAME_NAME="cage",
            window.REACT_APP_GAME_VERSION="3.15.0"

            window.REACT_APP_PATH_INITIAL_DATA = "/api/roulette/getInitialData"
            window.REACT_APP_API_PATH_AUTHENTICATE="/api/roulette/authenticate"

            window.REACT_APP_WS_PATH="/lobby/wsclient/cage"
        </script>
</head>
<body>
<div id="app">
    <div id="root"></div>
</div>
</body>
<script src="@routes.AppController.versioned("compiled/lobby/cage/cage-bundle.js")"></script>
</html>